.ctfop-tab-panel{
    display: none;
    padding: 30px 62px;
    border-left: 1px solid #f2f2f2;
}

.ctfop-tab-panel.active{
    display: block;
}

.ctfop-tabs{
    background: #FAFAFA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    border: 1px solid #E6E6E6;
}

.ctfop-tabs .ctfop-tabs-nav{
    width: 260px;
    float: left;
    position: relative;
    z-index: 9;
}
.ctfop-tabs .ctfop-tabs-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.ctfop-tabs .ctfop-tabs-nav ul li{
    margin: 0;
}

.ctfop-tabs .ctfop-tabs-nav > ul > li > a{
    display: block;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    outline: none !important;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.ctfop-tabs .ctfop-tabs-nav > ul > li > a.active{
    background-color: #fff;
    box-shadow: 1px 0 #fff, inset 3px 0 #27CC43;
}

.ctfop-tabs .ctfop-tab-panels{
    position: relative;
    margin-left: 260px;
    background-color: #fff;
}
.ctfop-page-title{
    background-color: #fafafa;
    padding: 30px !important;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f2f2;
    line-height: 45px !important;
    letter-spacing: 4px !important;
    font-size: 30px !important;
    font-weight: 200 !important;
}
.ctfop-btn-container{
    background-color: #EAEAEA;
    padding: 10px;
    text-align: right;
}